spring.application.name=Carebridge
springdoc.api-docs.groups.enabled=true
springdoc.swagger-ui.operations-sorter=method
springdoc.swagger-ui.disable-swagger-default-url=true
springdoc.writer-with-default-pretty-printer=true
springdoc.default-produces-media-type=application/json
springdoc.override-with-generic-response=true

spring:
    datasource:
        # MySQL
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://{ip_address}/pushop?&serverTimezone=Asia/Seoul
        username: ${user}
        password: ${password}

    jpa:
        hibernate:
            ddl-auto: update
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate:
                format_sql: true
                default_batch_fetch_size: 1000 #최적화 옵션
